/* スタイルをまとめて書く

担当者全員が編集(コンフリクト解決も担当者)

画面部品に汎用的なものを書いていくと短くまとまって良い
*/

.page_title { /*ページタイトル見出し(新規登録、マイページなど)*/
    font-size: xx-large;
    text-align: center;
    margin: 32px;
}

.centered_input_wide input{ /*中心テキストインプット*/
    margin-left: 5%;
    width: 90%;
    margin-bottom: 5%;
}
.centered_input_wide p{
    margin-left: 5%;
    margin-top: 5%;
}

.none{
    display: none;
}

.fa-chalkboard-teacher{
    border: solid;
    padding: 4.5% 3% 2.5% 3%;
    width: 35%;
    height: 120px;
    font-size: 85px;
    margin: 2%;
}
.none:checked + .fa-chalkboard-teacher{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}
.fa-gamepad{
    border: solid;
    padding: 4.5% 3% 2.5% 3%;
    width: 35%;
    height: 120px;
    font-size: 85px;
    margin: 2%;
}
.none:checked + .fa-gamepad{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}
.fa-mobile-alt{
    border: solid;
    padding: 3% 3% 2.5% 7%;
    width: 26%;
    font-size: 70px;
    margin: 2.5% 2.5% 4.5% 6%;
}
.none:checked + .fa-mobile-alt{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}
.fa-mouse{
    border: solid;
    padding: 3% 3% 2.5% 5.7%;
    width: 26%;
    font-size: 70px;
}
.none:checked + .fa-mouse{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}
.fa-tv{
    border: solid;
    padding: 3% 3% 2.5% 1.5%;
    width: 26%;
    font-size: 70px;
    margin: 2.5% 2.5% 4.5% 2.5%;
}
.none:checked + .fa-tv{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}
.fa-microphone-alt{
    border: solid;
    padding: 3% 3% 2.5% 6.5%;
    width: 26%;
    font-size: 70px;
    margin: 2.5% 2.5% 4.5% 6%;
}
.none:checked + .fa-microphone-alt{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}
.fa-keyboard{
    border: solid;
    padding: 3% 3% 2.5% 2.5%;
    width: 26%;
    font-size: 70px;
}
.none:checked + .fa-keyboard{
    background-color: rgb(201, 201, 201);
    border-width: 3.8px;
}


.centered_button{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    border: 0;
    background-color: lightgray;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sinki_rinku{
padding-left:  15px;
}
.b{
    margin-top: 100px;
}

body {
    background-color: white;
}