.nav{
    background-color: rgb(248, 247, 247);
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding-top: 3px;
    border: solid;
    border-radius: 8px;
  }
  .none i {
    text-shadow: 0 0 3px #000;
  }
  .nav button{
    border: none;
    background: none;
    cursor: pointer;  
    padding: 3.5% 5.5%;
    font-size: 12px;
  }
  
  .nav button:active{
    background-color: lightblue;
  }
  
  .home{
    transition: all 0.4s;
  }
  .home:active{
    transform: perspective(50px) translateZ(10px);
  }
  .cart{
    transition: all 0.4s;
  }
  .cart:active{
    transform: perspective(50px) translateZ(10px);
  }
  .user{
    transition: all 0.4s;
  }
  .user:active{
    transform: perspective(50px) translateZ(10px);
  }
  .tags{
    transition: all 0.4s;
  }
  .tags:active{
    transform: perspective(50px) translateZ(10px);
  }